<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Center</title>
    <link href="～/Content/Site.css" rel="stylesheet" />

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: center;
            padding: 12px;
            border: 3px solid #ddd;
            background-color: #add8e6;
            border-color:darkorange;
            color: blue;
        }
        td {
            text-align: center;
            padding: 12px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        cool-title {
            font-size: 50px;
            text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
            background: linear-gradient(to right,#0074d9, #0036b3);
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
        }
        welcome {
            font-size: 30px;
            text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
            background: linear-gradient(to right, #0074d9, #0036b3);
            -webkit-background-clip: text;
            color: transparent;
            display: inline;
        }

    </style>


</head>
<body class="gradient-background">
    <welcome> Welcome to SA-UniDeliveoo System</welcome>
    <p></p>
    <cool-title>Order Center</cool-title>

    <form method="get" action="/HomeController/Search">
        <input type="text" name="searchTerm" placeholder="Enter Order Status" />
        <button class="styled-button" type="submit">Search</button>
        <p> </p>
        <div class="row">
            <div class="col-3 justify-content-center">
                <table border="5" id="filterd_table">
                    <tr>
                        <th>order_id</th>
                        <th>order_status</th>
                        <th>order_amount</th>
                        <th>channel_id</th>
                        <th>channel_name</th>
                        <th>channel_type</th>
                        <th>store_id</th>
                        <th>hub_id</th>
                        <th>store_name</th>
                        <th>store_segment</th>
                        <th>store_plan_price</th>
                        <th>store_latitude</th>
                        <th>store_longitude</th>
                    </tr>
                    @foreach (var row in ViewBag.DataTable.Rows)
                    {
                        <tr>
                            <td>@row["order_id"]</td>
                            <td>@row["order_status"]</td>
                            <td>@row["order_amount"]</td>
                            <td>@row["channel_id"]</td>
                            <td>@row["channel_name"]</td>
                            <td>@row["channel_type"]</td>
                            <td>@row["store_id"]</td>
                            <td>@row["hub_id"]</td>
                            <td>@row["store_name"]</td>
                            <td>@row["store_segment"]</td>
                            <td>@row["store_plan_price"]</td>
                            <td>@row["store_latitude"]</td>
                            <td>@row["store_longitude"]</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </form>
</body>
</html>
